pager = "less -R"
encryption = "age"

[age]
    identity = "/Users/erwin/.config/sops/age/keys.txt"
    recipient = "age1jaur8fhv8xwzfdelc5mfjvtg52qk9v6v3rf93q49z9u8u9e86sls3jm9fn"

[git]
    autoCommit = true
    autoPush = true

[add]
    secrets = "error"

[edit]
    apply = true

[hooks.edit-config-template.post]
    command = "chezmoi"
    args = ["init"]
